// tictactoe

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 100vh;

  .gridContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3rem;
    width: 12rem;
    height: 12rem;

    .gridItem {
      width: 4rem;
      height: 4rem;
      border: 1px solid black;
      cursor: pointer;
      flex: 0 1 30%;
      margin: 0;
      padding: 0;
    }
    

    .row0{
      display: flex;
      flex-direction: row;
    }
    .row1{
      display: flex;
      flex-direction: row;
    }
    .row2{
      display: flex;
      flex-direction: row;
    }
    .square {
      width: 4rem;
      height: 4rem;
      border: 1px solid black;
      cursor: pointer;
    }

    .gridItem {
      width: 4rem;
      height: 4rem;
      border: 1px solid black;
      cursor: pointer;
      flex-basis: 33%;
    }
  }
}