// The Cutting Slab


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D5C0AB;


  .bannerElements {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6871614856880253) 50%, rgba(255,255,255,0) 100%);

    .svgLogo {
      width: 50%;
      max-width: 60vh;
      margin-top: 10vh;
    }

    .title {
      color: white;
      text-shadow: 1px 1px 5px #333;
    }

  }
  .storefront{
    width: 100%;
    
    .storefrontPic {
      height: 100vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .welcome {
    width: 100%;
    padding: 4rem 1rem;
    text-align: center;
    background-color: #D5C0AB;
  }

  .jackContainer {
    width: 100%;
    background-color: #222;
    color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 3rem 0;

    .jackhead {
      padding: 1rem;
      text-align: center;
    }

    .jack {
      max-width: 50%;
      max-height: 80vh;
      border: 10px solid #ddd;
    }

    .afterjack {
      padding: 1rem;
      margin-bottom: 2rem;

      p {
        text-align: center;
      }
    }
  }

  .breads {
    // display: flex;
    // flex: 1;
    // flex-direction: column;
    // justify-content: center;
    // flex-wrap: wrap;
    // text-align: center;
    // font-style: italic;
    background-color: #D5C0AB;
    width: 100%;

    .breadCard {
      margin: 1rem auto;
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      padding: 1rem;
      max-width: 1400px;
      align-items: center;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.49761911600577735) 10%, rgba(255,255,255,0.5004202364539565) 90%, rgba(255,255,255,0) 100%);
      
      h2 {
        flex-basis: 55%;
        text-align: center;  
      }

      img {
        flex-basis: 45%;
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }

    .afterBreads {
      text-align: center;
      padding: 3rem 0;
      background: linear-gradient(180deg, rgba(213,192,171,1) 0%, rgba(255,255,255,1) 100%); 
    }
  }

  .bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;

    .cuttingSlabBottom {
      width: 100%;
      max-width: 1000px;
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .jackContainer {
      padding: 0.5rem 0;
      flex-direction: column;
      .jack {
        border-radius: inherit;
        max-width: inherit;
        width: 100%;
        box-shadow: none;
      }
    }
    .breads {

      .breadCard {
        flex-direction: column;

        h2 {
          order: 1;
        }
      }
    }
    
  }  
}