// members/login

.page {
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .heading {
    align-self: center;
    text-align: center;
  }
  
  .content {
    padding: 0 1rem;
    word-wrap: break-word;
    width: 100%;
  }
}