// members/profile


.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 100vh;
}

.heading {
  align-self: center;
  text-align: center;
}

.content {
  padding: 0 1rem;
  word-wrap: break-word;
  width: 100%;
}
