.container {
  background-color: #fff;
  box-shadow: 0 0 5px hsla(0, 0%, 27%, 0.2);
  padding-bottom: 4rem;
  box-shadow: 0 0 20px inset hsla(0, 0%, 27%, 0.9);

  .welcome {
    background-color: hsla(219, 100%, 80%, 0.2);
    padding: 1rem;
    text-align: center;
    color: #333;
  }
  //@media only screen and (min-width: 600px)

  .jackhead {
    padding: 1rem;
    text-align: center;
  }

  .afterjack {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .breads {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    background-color: hsla(219, 100%, 80%, 0.2);
    margin-bottom: 4rem;

    p {
      padding: 0.2rem 0;
    }
  }
}

.navbar {
  padding: 1rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 200, 200, 0.1);
  background-color: rgba(255,200,200,0.5);
  box-shadow: 0 0 6px rgba(255,200,200,0.5);
  color: #444;
  font-size: large;
}

.footer {
  padding: 1rem;
  background-color: hsla(0, 0%, 27%, 0.9);
  color: #bbb;
  text-align: right;
}