.main {
  background-color: #1a1a1a;
  min-height: 100vh;

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;

    .title {
      color: #eee;
    }

    .sun {
      width: 50rem;
      position: absolute;
      top: 0;
      right: 4rem;
    }

    .triangle {
      width: 15rem;
    }
  }


}