// TODO 

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;

  .banner {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 2rem 0;
    box-shadow: 2px 2px 15px rgba(34, 34, 34, 0.4);

    h1 {
      align-self: center;
    }
  }

  .notesContainer {

    li {
      width: 25rem;
      margin: 0.5rem 0;
      padding: 0.4rem;
      background-color: antiquewhite;
    }

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .order {
      display: inline-block;
      width: 2rem;
    }

    .title {
      display: inline-block;
      margin-left: 1rem;
    }

    .orderChange {
      display: inline-block;
      
    }

    .body {
      min-height: 1rem;
      margin-left: 2rem;
    }
  }

}